/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ecb390;
    font-family: sans-serif;
}
input{
    color: white;
    border:0;
    text-indent: 10px;
    background-color: #3D3D3D;
    box-shadow:none !important;
    height: 35px;
    width: 90px;
    border-radius: 15px 0px 0px 15px;
    margin-right: 1px;
}
select{
    color:white;
    border:0;
    background-color: #3D3D3D;
    height: 37px;
    border-radius: 0px 10px 10px 0px;
}
input{
    background-color: #3D3D3D;
    align-items: center;
}
.box{
    text-align: center;
}
select:hover{
    background-color: #646464;
}